<!DOCTYPE html> 
<html> 
  <head> 
    <title>Appointment Update</title> 

    <style>
      h2, h4, h3, li {
        margin: 1px solid #000;
        padding: 10px;
        /* font-family: 'Arial', sans-serif; */
      }
      ul {
        list-style: none; /* Remove default list styles (bullets) */
        padding: 0;
      }
    </style>
  </head>
  <body> 
    <h2>Hello, <%= @appointment.patient.name %>.</h2>
    <h4>Your appointment has been updated</h4>
    <h3>New appointment details</h3></br>
    <ul>
        <li>Doctor name: <%= @appointment.doctor.name %></p>
        <li>Patient name: <%= @appointment.patient.name %></p>
        <li>Appointment Date: <%= @appointment.appointment_date %></p>
    </ul>
  </body>
</html>
